body
{
	width: 35em;
	margin: 0 auto;
	background-color: black ;
	display: flex;
    flex-direction: column;
}
h1
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	text-align: center;
	color: #D800FF;
	font-size: 40px;
    border: 5px #D800FF double;
    border-radius: 10px;
    box-shadow: 6px 6px 20px black;
}
h2
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	text-align: center;
	color: #FFF000;
	font-size: 30px;
}

p
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: #04FF00 ;
	font-size: 20px;
}
ul
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: #FF0000 ;
	font-size: 20px;
}
img
{
	width: 35em;
	margin: 0 auto;
}

iframe
{
	margin: 0 auto;
	box-shadow: 6px 6px 20px #24d3f154;
}
#abc
{
	font-size:25px;
	border-bottom: none;
	font-weight: bold;

}