body
{
	width: 35em;
	margin: 0 auto;
	background-color: #24d3f154;
}
h1
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	text-align: center;
	color: black;
	font-size: 40px;
    border: 5px black double;
    border-radius: 10px;
    box-shadow: 6px 6px 20px black;
}
h2
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: #258e8e;
	font-size: 30px;
    border-bottom: 3px black dashed;

}
h3
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: black;
	font-size: 35px;
	font-weight: bold;
}
h4
{
	color: #258e8e;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 25px;
	border-bottom: 2px black dotted;
	font-weight: bold;

}
ul
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: #003333;
	font-size: 20px;


}
p
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: #003333;
	font-size: 20px;


}
img
{
	box-shadow: 6px 6px 20px black;
}
iframe
{
	box-shadow: 6px 6px 20px black;
}
#abc
{
	font-size:25px;
	border-bottom: none;
	font-weight: bold;

}